html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    
}

main{
    background-color: #d1d1d1;
    width: 100%;
    height: 100%;
    position: fixed;
}
#formulario{
    border: 0.2em #00FFC5 solid;
    display: block;
    margin: 10%;
    box-shadow: 0.2em 0.2em 0.3em  #000000 ;
    background-color: white;
    height: 60%;

}
.info{
    height: 3em;
    width: 80%;
    margin-left: 10%; margin-left: 10%;
    border: 0.25em #d1d1d1 solid ; 
    border-radius: 1em ;
    font-size: large;
    text-align: center;
    margin-top: 5%;
}
.info::placeholder{
    font-size: 1em;
    text-align: center;
}
.info:focus{
    outline: none;
}  
#condiciones{
    margin-top: 10%;
    margin-left: 15%;
    
}
#sesion{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 4em;
}