html,body {
    margin: 0; padding: 0; border: 0;
    height: 100%;
}
/* Inside HEADER*/
header{
    width: 100%;
    height: 7.5%;
    background-color: #00FFC5;
    
    box-sizing: border-box;
    
}
#open-bar{
    background-color: #00daa7;
    height: 100%; width: 5%;
    border: none;
}
#open-bar:active{
    background-color: red;
}
#open-bar:focus{
    border: none;
    outline: none;
}


/* Inside HEADER  */

/*  Inside MAIN */
main{
    background-color: rgba(245, 245, 245, 0.904);
    height: 92.5%; width: 100%;
    display: flex;
    background-color: whitesmoke;
}
section{
    background-color: #EAEAEA;
    width: 100%;
    height: 40%;
    margin: 5%;
    
    text-align: center;
    font-size: 5em;
}
section p {
    font-size: 0.5em;
}
#ingresos{
    width: 50%;
}
/*Inside ASIDE*/
aside{
    background-color: #00FFC5;
    width: 0%;
    height: 100%;
    display: flex;
    display: none;
    transition: all 250ms;
}
aside ul{
    padding: 0; margin: 0;
    height: 100%; width: 100%;
}
aside ul li{
    text-align: center;
    list-style-type: none;
    box-sizing: border-box;
    
    
    height: 10%;
    padding: 10%;
    background-color: #00FFC5;
    
}
aside ul li:hover{
    background-color: #00daa7;
}
aside ul li button, a{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #00FFC5;
    margin: 0; 
}

/*Inside ASIDE*/
footer{
    height: 5%;
}
/* Inside MAIN*/